
number_normalized=True
word_emb_dim=100
char_emb_dim=20
feature=[POS] emb_size=20
feature=[Cap] emb_size=20

iteration=100
batch_size=16

char_hidden_dim=50
hidden_dim=100
dropout=0
learning_rate=0.001
l2=1e-8
gpu=0
MAX_SENTENCE_LENGTH=250
nbest=10

full_data=True
tune_wordemb=True

max_seq_len=500
re_feature=[RELATION] emb_size=10
re_feature=[ENTITY_TYPE] emb_size=10
re_feature=[ENTITY] emb_size=10
re_feature=[TOKEN_NUM] emb_size=10
re_feature=[ENTITY_NUM] emb_size=10
re_feature=[POSITION] emb_size=10
pad_idx=0
sent_window=1
unk_ratio=0.03
seq_feature_size=256
patience=30






